[submodule "src/github.com/ant0ine/go-json-rest"]
	path = src/github.com/ant0ine/go-json-rest
	url = https://github.com/ant0ine/go-json-rest.git
[submodule "src/github.com/jinzhu/gorm"]
	path = src/github.com/jinzhu/gorm
	url = https://github.com/jinzhu/gorm.git
[submodule "src/github.com/dazjones/go-tournament"]
	path = src/github.com/dazjones/go-tournament
	url = https://github.com/dazjones/go-tournament
